html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #414C6F; 
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    background-color: white;
 }


 .mission p{
   margin: 30px;
   font-family: 'Montserrat', cursive;
 }

 .event {
  margin: 30px;
  background-color: lightblue;
  padding: 1em;
 }

 .event p{
  font-family: 'Montserrat', cursive;
}

.visit 
{
  margin: 30px;
  background-color: lightblue;
  padding: 1em;
  font-family: 'Montserrat', cursive;
}

.contact1 {
  margin: 30px;
  padding: 1em;
  font-family: 'Montserrat', cursive;
}


.contact1 p {
  font-size: 18px;
}

 h1 {
     font-size: 45px;
     font-family: 'Kalam', cursive;
     color: teal;
     letter-spacing: 7px;
     text-align: left;
     float: left;
     text-transform: uppercase;
     text-shadow: 3px 3px 8px rgb(150, 207, 226);
 }

 h2 {
     margin: 10px 0;
     font-size: 20px;
     font-weight: 400;
     text-transform: uppercase;
     font-family: 'Montserrat', cursive;
     letter-spacing: 2px;
     color: #414C6F;
     text-align: center;
 }

 h3 {
    font-family: 'Montserrat', cursive;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    color: #414C6F;
    
 }

 header {
     padding: 0;
 }



 /* Nav
 ------------------------*/
nav {
    padding: 5px;
    text-align: center;
}

nav ul { 
    list-style: none; 

}


nav ul li {                    
    font: bold 12px/18px; 
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline;    
    position: relative; 
    padding: 5px 20px;
    cursor: pointer;  
    text-align: center;
}
    
nav ul li:hover {                         
    color: #414C6F;
    text-shadow: 1px 1px 2px #6576ad;
    }

.nav2 {
    float: left;
    width: 100%;
    text-align: left;
}    
 /* Grid Styles
 ------------------------*/
 .container {
     margin: 20px;
     padding: 10px;
 }

 .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
  }

  

.grid p {
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: 'Montserrat', cursive;
  color: #414C6F;
  margin: 15px;
  padding: 5px;
}


.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto;
  }


ul li {                    
    font: bold 12px/18px; 
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;    
    position: relative; 
    padding: 5px 20px;
    cursor: pointer;  
}

 
 /* Contact/Footer
 ------------------------*/
 a {
    color: #414C6F;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #414C6F;
    text-shadow: 1px 1px 2px #6576ad;
}

footer ul li {
    list-style: none;
}

footer {
  background-color: blanchedalmond;
  width: 100%;
}

figure img {
  border-radius: 10%;
}



  

/*Style rules for desktop */
@media only screen and (min-width: 601px) {
    .desktop {
        visibility: hidden;
    }

    h1 {
      margin-left: 20px;
    }
}
  
  /*Style rules for mobile */
  @media only screen and (max-width: 600px) {
  
    ul li {
       font-size: 22px; 
    }

    h1 {
      float: none;
      text-align: center;
    }

    .grid {
		display: block;
		grid-template-columns: auto auto auto;
		grid-gap: 15px;
	}

    h2 {
        font-size: 30px;
    }

    .mobile {
        margin: 10px;
        overflow: hidden;
    }

    #menuToggle {
        display: block;
        position: relative;
        margin-bottom: 20px;
        top: 0px;
        left: 25px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle a {
        text-decoration: none;
        color: #414C6F;
        
        transition: color 0.3s ease;
      }
      
      #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; 
        z-index: 2; 
        
        -webkit-touch-callout: none;
      }
      
      #menuToggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #414C6F;
        border-radius: 1px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      
      
      #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #414C6F;
      }
      
      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 100px;
        
        background: rgb(193, 218, 226);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
      
      #menu li {
        padding: 10px 0;
        font-size: 22px;
        text-decoration-line: underline;
      }
      
      
      #menuToggle input:checked ~ ul {
        transform: none;
      }

      footer {
        width: 100%;
      }
  
  }
  